$color-white: #ffffff;
$color-black: #031842;
$color-light-black: #3f4042;
$color-dark-gray: #a1a1a1;
$color-gray: #bfbfbf;
$color-light-gray: #dedede;
$color-very-light-gray: #e8e8e8;
$color-dm-gray: #f7f7f7;
$color-dark-navy: #062b75;
$color-navy: #073795;
$color-dark-pale-navy: #1251a3;
$color-pale-navy: #395faa;
$color-twitter-blue: #1da1f2;
$color-twitter-dark-blue: #1887cc;
$color-light-green: #28ad90;
$color-red: #be0a4c;
$color-very-dark-pink: #db8484;
$color-dark-pink: #f09090;
$color-little-dark-pink: #ffa8a8;
$color-pink: #f5d8e2;
$color-light-pink: #feefec;
$color-very-light-pink: #fcf6f5;
$color-shadow-pink: #f8e4e4;
$color-gray-pink: #f0dddd;
$color-yellow: #ffe869;
$color-light-yellow: #fff878;
$color-very-dark-pink: #db8484;
$color-dark-navy: #062b75;
$color-blue: #0a49c7;
$color-orange: #ffbb45;
$color-purple: #976ac5;
